<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} My Blog {% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    </head>
    <body>
        <header>
            <h1>My Blog Header</h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>                             
        <footer>
            <p>Copyright 2025</p>
        </footer>                                   
    </body>
</html>